@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'iconFont';
  src: url("../fonts/iconFont/iconFont.eot?howkf6"), url("../fonts/iconFont/iconFont.woff?howkf6") format("woff"), url("../fonts/iconFont/iconFont.woff2?howkf6") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 15, ../scss/config/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/monserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/monserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*$font-secondary    : 'HWT';*/
/* line 1, ../scss/config/_extends.scss */
.main__title {
  color: #0636BE;
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 0;
}

/* line 9, ../scss/config/_extends.scss */
.service {
  color: #0636BE;
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* line 16, ../scss/config/_extends.scss */
.service p {
  color: #4B4B4B;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 70px;
}

/* line 30, ../scss/config/_extends.scss */
.information, .information-section aside {
  color: #ffffff;
  font-size: 4.0rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 0;
}

/*%botones {
    background-color: color( primary, base );
    border-radius: 50px;
    box-shadow: 0px 15px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid color( borders, color-1 );
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    padding: 20px 50px;
}
*/
@media (min-width: 768px) {
  /* line 50, ../scss/config/_extends.scss */
  .main__title {
    font-size: 6.0rem;
    line-height: 5.6rem;
  }
}
/* line 5, ../scss/config/_flexbox.scss */
.dc-flex {
  display: flex;
}

/* line 5, ../scss/config/_flexbox.scss */
.dc-inline-flex {
  display: inline-flex;
}

/* line 5, ../scss/config/_flexbox.scss */
.dc-block {
  display: block;
}

/* line 5, ../scss/config/_flexbox.scss */
.dc-inline-block {
  display: inline-block;
}

/* line 5, ../scss/config/_flexbox.scss */
.dc-grid {
  display: grid;
}

/* line 5, ../scss/config/_flexbox.scss */
.dc-none {
  display: none;
}

@media (min-width: 540px) {
  /* line 13, ../scss/config/_flexbox.scss */
  .dc-sm-flex {
    display: flex;
  }

  /* line 13, ../scss/config/_flexbox.scss */
  .dc-sm-block {
    display: block;
  }

  /* line 13, ../scss/config/_flexbox.scss */
  .dc-sm-grid {
    display: grid;
  }

  /* line 13, ../scss/config/_flexbox.scss */
  .dc-sm-none {
    display: none;
  }

  /* line 13, ../scss/config/_flexbox.scss */
  .dc-sm-inline-block {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  /* line 22, ../scss/config/_flexbox.scss */
  .dc-md-flex {
    display: flex;
  }

  /* line 22, ../scss/config/_flexbox.scss */
  .dc-md-block {
    display: block;
  }

  /* line 22, ../scss/config/_flexbox.scss */
  .dc-md-grid {
    display: grid;
  }

  /* line 22, ../scss/config/_flexbox.scss */
  .dc-md-none {
    display: none;
  }

  /* line 22, ../scss/config/_flexbox.scss */
  .dc-md-inline-block {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  /* line 31, ../scss/config/_flexbox.scss */
  .dc-lg-flex {
    display: flex;
  }

  /* line 31, ../scss/config/_flexbox.scss */
  .dc-lg-block {
    display: block;
  }

  /* line 31, ../scss/config/_flexbox.scss */
  .dc-lg-grid {
    display: grid;
  }

  /* line 31, ../scss/config/_flexbox.scss */
  .dc-lg-none {
    display: none;
  }

  /* line 31, ../scss/config/_flexbox.scss */
  .dc-lg-inline-block {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  /* line 40, ../scss/config/_flexbox.scss */
  .dc-xl-flex {
    display: flex;
  }

  /* line 40, ../scss/config/_flexbox.scss */
  .dc-xl-block {
    display: block;
  }

  /* line 40, ../scss/config/_flexbox.scss */
  .dc-xl-grid {
    display: grid;
  }

  /* line 40, ../scss/config/_flexbox.scss */
  .dc-xl-none {
    display: none;
  }

  /* line 40, ../scss/config/_flexbox.scss */
  .dc-xl-inline-block {
    display: inline-block;
  }
}
/* line 49, ../scss/config/_flexbox.scss */
.dc-row {
  display: row;
}

/* line 49, ../scss/config/_flexbox.scss */
.dc-row-reverse {
  display: row-reverse;
}

/* line 49, ../scss/config/_flexbox.scss */
.dc-column {
  display: column;
}

/* line 49, ../scss/config/_flexbox.scss */
.dc-column-reverse {
  display: column-reverse;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-flex-start {
  justify-content: flex-start;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-flex-end {
  justify-content: flex-end;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-center {
  justify-content: center;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-space-between {
  justify-content: space-between;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-space-around {
  justify-content: space-around;
}

/* line 57, ../scss/config/_flexbox.scss */
.jcc-space-evenly {
  justify-content: space-evenly;
}

/* line 65, ../scss/config/_flexbox.scss */
.aii-flex-start {
  align-items: flex-start;
}

/* line 65, ../scss/config/_flexbox.scss */
.aii-flex-end {
  align-items: flex-end;
}

/* line 65, ../scss/config/_flexbox.scss */
.aii-center {
  align-items: center;
}

/* line 65, ../scss/config/_flexbox.scss */
.aii-baseline {
  align-items: baseline;
}

/* line 65, ../scss/config/_flexbox.scss */
.aii-stretch {
  align-items: stretch;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-flex-start {
  align-content: flex-start;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-flex-end {
  align-content: flex-end;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-center {
  align-content: center;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-space-between {
  align-content: space-between;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-space-around {
  align-content: space-around;
}

/* line 73, ../scss/config/_flexbox.scss */
.acc-stretch {
  align-content: stretch;
}

/* line 81, ../scss/config/_flexbox.scss */
.aii-flex-start {
  align-items: flex-start;
}

/* line 81, ../scss/config/_flexbox.scss */
.aii-flex-end {
  align-items: flex-end;
}

/* line 81, ../scss/config/_flexbox.scss */
.aii-center {
  align-items: center;
}

/* line 81, ../scss/config/_flexbox.scss */
.aii-baseline {
  align-items: baseline;
}

/* line 81, ../scss/config/_flexbox.scss */
.aii-stretch {
  align-items: stretch;
}

/* line 89, ../scss/config/_flexbox.scss */
.ass-flex-start {
  align-self: flex-start;
}

/* line 89, ../scss/config/_flexbox.scss */
.ass-flex-end {
  align-self: flex-end;
}

/* line 89, ../scss/config/_flexbox.scss */
.ass-center {
  align-self: center;
}

/* line 89, ../scss/config/_flexbox.scss */
.ass-baseline {
  align-self: baseline;
}

/* line 89, ../scss/config/_flexbox.scss */
.ass-stretch {
  align-self: stretch;
}

/* line 1, ../scss/base/_body.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 5, ../scss/base/_body.scss */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/base/_body.scss */
body {
  /*background: red;*/
  color: #303030;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../scss/base/_body.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

/* line 26, ../scss/base/_body.scss */
p {
  /*margin-bottom: map-get($sizes, "base");*/
  margin-bottom: 2.9rem;
}

/* line 30, ../scss/base/_body.scss */
a {
  color: #0636BE;
}

/* line 33, ../scss/base/_body.scss */
h1, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
  /*margin-bottom: map-get($sizes, "half");*/
  margin-bottom: 2.9rem;
}

/* line 40, ../scss/base/_body.scss */
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1;
}

/* line 46, ../scss/base/_body.scss */
h1 {
  font-size: 2.9rem;
  /*font-size: map-get($sizes, "half");*/
}

/* line 50, ../scss/base/_body.scss */
h2 {
  font-size: 4rem;
  /*font-size: map-get($sizes, "thumb");*/
}

/* line 54, ../scss/base/_body.scss */
h3 {
  /*font-size: map-get($sizes, "base");*/
  font-size: 2.9rem;
}

/* line 58, ../scss/base/_body.scss */
h4 {
  /*font-size: map-get($sizes, "small");*/
  font-size: 2rem;
}

/* line 62, ../scss/base/_body.scss */
h5 {
  font-size: 1.7rem;
}

/* line 65, ../scss/base/_body.scss */
h6 {
  font-size: 1.5rem;
}

/* line 71, ../scss/base/_body.scss */
ol,
ul {
  /*margin-bottom: map-get($sizes, "base");*/
  margin-bottom: 2.9rem;
  /*padding-left: map-get($sizes, "half");*/
  padding-left: 2.9rem;
}

@media (min-width: 768px) {
  /* line 80, ../scss/base/_body.scss */
  .container {
    max-width: 1140px;
    padding: 0 20px;
  }

  /* line 84, ../scss/base/_body.scss */
  h1 {
    /*font-size: map-get($sizes, "huge");*/
  }

  /* line 88, ../scss/base/_body.scss */
  h2 {
    /*font-size: map-get($sizes, "xlarge");*/
  }

  /* line 92, ../scss/base/_body.scss */
  h3 {
    /*font-size: map-get($sizes, "large");*/
  }

  /* line 96, ../scss/base/_body.scss */
  h4 {
    /*font-size: map-get($sizes, "medium");*/
  }

  /* line 100, ../scss/base/_body.scss */
  h5 {
    /*font-size: map-get($sizes, "half");*/
  }

  /* line 104, ../scss/base/_body.scss */
  h6 {
    /*font-size: map-get($sizes, "thumb");*/
  }
}
/* line 1, ../scss/base/_buttons.scss */
.btn {
  box-shadow: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  height: 7.3rem;
  line-height: 7.3rem;
  outline: none;
  padding: 0 1.4rem;
  width: 100%;
}
@media (min-width: 540px) {
  /* line 1, ../scss/base/_buttons.scss */
  .btn {
    width: auto;
  }
}
/* line 19, ../scss/base/_buttons.scss */
.btn.btn-default {
  background: #0636BE;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-default:hover {
  background: #052c9b;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-default:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-default:active {
  background: #04288d;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-default:focus:active, .btn.btn-default:hover:active {
  background: #04288d;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-default.disabled, .btn.btn-default:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-default.disabled:hover, .btn.btn-default:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-default.disabled:focus, .btn.btn-default:disabled:focus {
  box-shadow: none;
}
/* line 21, ../scss/base/_buttons.scss */
.btn.btn-default.outline {
  background: transparent;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #0636BE;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
  border: 0.13rem solid #0636BE;
  box-shadow: none;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover {
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-default.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-default.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-default.outline:focus:active, .btn.btn-default.outline:hover:active {
  background: transparent;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-default.outline.disabled, .btn.btn-default.outline:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-default.outline.disabled:hover, .btn.btn-default.outline:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-default.outline.disabled:focus, .btn.btn-default.outline:disabled:focus {
  box-shadow: none;
}
/* line 25, ../scss/base/_buttons.scss */
.btn.btn-default.outline:hover, .btn.btn-default.outline:active {
  background: #0636BE;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
  box-shadow: none;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover:hover, .btn.btn-default.outline:active:hover {
  background: #052c9b;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover:focus, .btn.btn-default.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover:active, .btn.btn-default.outline:active:active {
  background: #04288d;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover:focus:active, .btn.btn-default.outline:hover:hover:active, .btn.btn-default.outline:active:focus:active, .btn.btn-default.outline:active:hover:active {
  background: #04288d;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover.disabled, .btn.btn-default.outline:hover:disabled, .btn.btn-default.outline:active.disabled, .btn.btn-default.outline:active:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover.disabled:hover, .btn.btn-default.outline:hover:disabled:hover, .btn.btn-default.outline:active.disabled:hover, .btn.btn-default.outline:active:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-default.outline:hover.disabled:focus, .btn.btn-default.outline:hover:disabled:focus, .btn.btn-default.outline:active.disabled:focus, .btn.btn-default.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 31, ../scss/base/_buttons.scss */
.btn.btn-icon {
  background: #f4f4f4;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
  align-items: center;
  display: inline-flex;
  font-size: 0;
  height: 45px;
  justify-content: center;
  padding: 0;
  width: 45px;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-icon:hover {
  background: #e2e2e2;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-icon:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-icon:active {
  background: #dbdbdb;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-icon:focus:active, .btn.btn-icon:hover:active {
  background: #dbdbdb;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-icon.disabled, .btn.btn-icon:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-icon.disabled:hover, .btn.btn-icon:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-icon.disabled:focus, .btn.btn-icon:disabled:focus {
  box-shadow: none;
}
/* line 40, ../scss/base/_buttons.scss */
.btn.btn-icon i {
  font-size: 3rem;
}
/* line 44, ../scss/base/_buttons.scss */
.btn.btn-success, .btn.btn-primary {
  background: #0636BE;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-success:hover, .btn.btn-primary:hover {
  background: #052c9b;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-success:focus, .btn.btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-success:active, .btn.btn-primary:active {
  background: #04288d;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-success:focus:active, .btn.btn-success:hover:active, .btn.btn-primary:focus:active, .btn.btn-primary:hover:active {
  background: #04288d;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-success.disabled, .btn.btn-success:disabled, .btn.btn-primary.disabled, .btn.btn-primary:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-success.disabled:hover, .btn.btn-success:disabled:hover, .btn.btn-primary.disabled:hover, .btn.btn-primary:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-success.disabled:focus, .btn.btn-success:disabled:focus, .btn.btn-primary.disabled:focus, .btn.btn-primary:disabled:focus {
  box-shadow: none;
}
/* line 47, ../scss/base/_buttons.scss */
.btn.btn-success.outline, .btn.btn-primary.outline {
  background: transparent;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #5046C1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
  border: 0.15rem solid #5046C1;
  box-shadow: none;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover, .btn.btn-primary.outline:hover {
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-success.outline:focus, .btn.btn-primary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-success.outline:active, .btn.btn-primary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-success.outline:focus:active, .btn.btn-success.outline:hover:active, .btn.btn-primary.outline:focus:active, .btn.btn-primary.outline:hover:active {
  background: transparent;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-success.outline.disabled, .btn.btn-success.outline:disabled, .btn.btn-primary.outline.disabled, .btn.btn-primary.outline:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-success.outline.disabled:hover, .btn.btn-success.outline:disabled:hover, .btn.btn-primary.outline.disabled:hover, .btn.btn-primary.outline:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-success.outline.disabled:focus, .btn.btn-success.outline:disabled:focus, .btn.btn-primary.outline.disabled:focus, .btn.btn-primary.outline:disabled:focus {
  box-shadow: none;
}
/* line 51, ../scss/base/_buttons.scss */
.btn.btn-success.outline:hover, .btn.btn-success.outline:active, .btn.btn-primary.outline:hover, .btn.btn-primary.outline:active {
  background: #5046C1;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover:hover, .btn.btn-success.outline:active:hover, .btn.btn-primary.outline:hover:hover, .btn.btn-primary.outline:active:hover {
  background: #4239aa;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover:focus, .btn.btn-success.outline:active:focus, .btn.btn-primary.outline:hover:focus, .btn.btn-primary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover:active, .btn.btn-success.outline:active:active, .btn.btn-primary.outline:hover:active, .btn.btn-primary.outline:active:active {
  background: #3e359f;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover:focus:active, .btn.btn-success.outline:hover:hover:active, .btn.btn-success.outline:active:focus:active, .btn.btn-success.outline:active:hover:active, .btn.btn-primary.outline:hover:focus:active, .btn.btn-primary.outline:hover:hover:active, .btn.btn-primary.outline:active:focus:active, .btn.btn-primary.outline:active:hover:active {
  background: #3e359f;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover.disabled, .btn.btn-success.outline:hover:disabled, .btn.btn-success.outline:active.disabled, .btn.btn-success.outline:active:disabled, .btn.btn-primary.outline:hover.disabled, .btn.btn-primary.outline:hover:disabled, .btn.btn-primary.outline:active.disabled, .btn.btn-primary.outline:active:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover.disabled:hover, .btn.btn-success.outline:hover:disabled:hover, .btn.btn-success.outline:active.disabled:hover, .btn.btn-success.outline:active:disabled:hover, .btn.btn-primary.outline:hover.disabled:hover, .btn.btn-primary.outline:hover:disabled:hover, .btn.btn-primary.outline:active.disabled:hover, .btn.btn-primary.outline:active:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-success.outline:hover.disabled:focus, .btn.btn-success.outline:hover:disabled:focus, .btn.btn-success.outline:active.disabled:focus, .btn.btn-success.outline:active:disabled:focus, .btn.btn-primary.outline:hover.disabled:focus, .btn.btn-primary.outline:hover:disabled:focus, .btn.btn-primary.outline:active.disabled:focus, .btn.btn-primary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 57, ../scss/base/_buttons.scss */
.btn.btn-secondary {
  background: #ffffff;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #5046C1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-secondary:hover {
  background: #ededed;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-secondary:active {
  background: #e6e6e6;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary:focus:active, .btn.btn-secondary:hover:active {
  background: #e6e6e6;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled, .btn.btn-secondary:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:hover, .btn.btn-secondary:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-secondary.disabled:focus, .btn.btn-secondary:disabled:focus {
  box-shadow: none;
}
/* line 59, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline {
  background: transparent;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #5046C1;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
  border: 0.15rem solid #5046C1;
  box-shadow: none;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover {
  background: transparent;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:active {
  background: transparent;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:focus:active, .btn.btn-secondary.outline:hover:active {
  background: transparent;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled, .btn.btn-secondary.outline:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:hover, .btn.btn-secondary.outline:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline.disabled:focus, .btn.btn-secondary.outline:disabled:focus {
  box-shadow: none;
}
/* line 63, ../scss/base/_buttons.scss */
.btn.btn-secondary.outline:hover, .btn.btn-secondary.outline:active {
  background: #5046C1;
  border-radius: 50px;
  border: 2px solid #105EBA;
  box-shadow: 0 15px 5px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  width: 28.7rem;
}
/* line 66, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:hover, .btn.btn-secondary.outline:active:hover {
  background: #4239aa;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 71, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:focus, .btn.btn-secondary.outline:active:focus {
  outline: 0;
  box-shadow: 0 0 0 0.6rem rgba(6, 54, 190, 0.25);
  text-decoration: none;
}
/* line 76, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:active, .btn.btn-secondary.outline:active:active {
  background: #3e359f;
}
/* line 81, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover:focus:active, .btn.btn-secondary.outline:hover:hover:active, .btn.btn-secondary.outline:active:focus:active, .btn.btn-secondary.outline:active:hover:active {
  background: #3e359f;
  outline: 0;
}
/* line 86, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled, .btn.btn-secondary.outline:hover:disabled, .btn.btn-secondary.outline:active.disabled, .btn.btn-secondary.outline:active:disabled {
  opacity: .55;
  color: #303030;
  background: #cccccc;
  box-shadow: none;
  cursor: auto;
}
/* line 93, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:hover, .btn.btn-secondary.outline:hover:disabled:hover, .btn.btn-secondary.outline:active.disabled:hover, .btn.btn-secondary.outline:active:disabled:hover {
  background: #cccccc;
}
/* line 96, ../scss/config/_mixins.scss */
.btn.btn-secondary.outline:hover.disabled:focus, .btn.btn-secondary.outline:hover:disabled:focus, .btn.btn-secondary.outline:active.disabled:focus, .btn.btn-secondary.outline:active:disabled:focus {
  box-shadow: none;
}
/* line 69, ../scss/base/_buttons.scss */
.btn.btn-link {
  box-shadow: none;
}

@media (max-width: 539px) {
  /* line 75, ../scss/base/_buttons.scss */
  .btn.btn-icon {
    height: 38px;
    line-height: 38px;
    width: 38px;
  }
  /* line 79, ../scss/base/_buttons.scss */
  .btn.btn-icon i {
    font-size: 18px;
  }
}
/* line 147, ../scss/config/_mixins.scss */
input::-webkit-input-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 148, ../scss/config/_mixins.scss */
input::-moz-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 149, ../scss/config/_mixins.scss */
input:-ms-input-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 147, ../scss/config/_mixins.scss */
textarea::-webkit-input-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 148, ../scss/config/_mixins.scss */
textarea::-moz-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 149, ../scss/config/_mixins.scss */
textarea:-ms-input-placeholder {
  color: #8CC1F5;
  font-weight: 900;
}

/* line 4, ../scss/base/_form.scss */
.contact {
  display: flex;
  flex-direction: column;
  margin: 70px 0;
  min-height: 50px;
  min-width: 418px;
  text-align: center;
}
/* line 11, ../scss/base/_form.scss */
.contact .container {
  width: auto;
  padding: 0;
}
/* line 14, ../scss/base/_form.scss */
.contact .container .main__title {
  margin-bottom: 40px;
}
/* line 17, ../scss/base/_form.scss */
.contact .container form {
  padding: 0 65px;
}
/* line 19, ../scss/base/_form.scss */
.contact .container form .form-group {
  color: #8CC1F5;
  margin-bottom: 0;
}
/* line 20, ../scss/base/_form.scss */
.contact .container form .form-group input {
  background: #D3E9FF;
  border: none;
  min-height: 6.3rem;
  min-width: 28.7rem;
  padding: 20px;
  width: 100%;
}
/* line 32, ../scss/base/_form.scss */
.contact .container button {
  display: inline-block;
  margin-top: 40px;
}

/* line 39, ../scss/base/_form.scss */
textarea {
  background: #D3E9FF;
  border: none;
  min-height: 13.7rem;
  padding: 20px;
  width: 100%;
}
/* line 45, ../scss/base/_form.scss */
textarea p {
  display: none;
}

@media (min-width: 768px) {
  /* line 53, ../scss/base/_form.scss */
  .contact .container form {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 57, ../scss/base/_form.scss */
  .contact .container form .contact__col {
    display: flex;
    min-height: 107px;
  }
  /* line 60, ../scss/base/_form.scss */
  .contact .container form .contact__col input {
    font-size: 2.5rem;
  }
  /* line 64, ../scss/base/_form.scss */
  .contact .container form .form-group {
    margin-right: 3rem;
    width: 47.5%;
  }
  /* line 67, ../scss/base/_form.scss */
  .contact .container form .form-group:nth-child(2n) {
    margin-right: 0;
  }
  /* line 70, ../scss/base/_form.scss */
  .contact .container form .form-group input {
    min-width: inherit;
    width: 100%;
  }
  /* line 74, ../scss/base/_form.scss */
  .contact .container form .form-group.message-field {
    margin-right: 0;
    width: 100%;
  }
  /* line 77, ../scss/base/_form.scss */
  .contact .container form .form-group.message-field textarea {
    font-size: 2.5rem;
    margin: 29px 0 98px 0;
    min-height: 35.0rem;
  }
  /* line 84, ../scss/base/_form.scss */
  .contact .container form .form__button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* line 89, ../scss/base/_form.scss */
  .contact .container form .form__button button {
    font-size: 35px;
    height: 105px;
    margin: 0 0 19px 0;
    width: 364px;
  }
}
@media (min-width: 960px) {
  /* line 105, ../scss/base/_form.scss */
  .contact .container form .form-group {
    margin-right: 4rem;
    width: 47.5%;
  }
}
@media (min-width: 1440px) {
  /* line 115, ../scss/base/_form.scss */
  .contact {
    margin: 100px 0;
  }
  /* line 118, ../scss/base/_form.scss */
  .contact .container .main__title {
    margin: 25px 0 77px 0;
  }
  /* line 121, ../scss/base/_form.scss */
  .contact .container form {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }
  /* line 125, ../scss/base/_form.scss */
  .contact .container form .form-group {
    margin-right: 4rem;
    width: 48%;
  }
  /* line 128, ../scss/base/_form.scss */
  .contact .container form .form-group:nth-child(2n) {
    margin-right: 0;
  }
  /* line 131, ../scss/base/_form.scss */
  .contact .container form .form-group input {
    min-width: inherit;
    width: 100%;
  }
  /* line 135, ../scss/base/_form.scss */
  .contact .container form .form-group.message-field {
    margin-right: 0;
    width: 100%;
  }
  /* line 138, ../scss/base/_form.scss */
  .contact .container form .form-group.message-field textarea {
    font-size: 2.5rem;
    margin: 29px 0 98px 0;
    min-height: 35.0rem;
  }
  /* line 145, ../scss/base/_form.scss */
  .contact .container form .form__button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  /* line 150, ../scss/base/_form.scss */
  .contact .container form .form__button button {
    font-size: 35px;
    height: 105px;
    margin: 0 0 19px 0;
    width: 364px;
  }
}
/* line 1, ../scss/base/_links.scss */
a, button {
  text-decoration: none;
  outline: 0;
  transition: color .1s ease-out;
}
/* line 7, ../scss/base/_links.scss */
a.btn:hover, button.btn:hover {
  text-decoration: none;
}
/* line 12, ../scss/base/_links.scss */
a:hover, a:focus, button:hover, button:focus {
  outline: none;
  text-decoration: underline;
}
/* line 17, ../scss/base/_links.scss */
a.text-link, button.text-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  line-height: 1;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
/* line 31, ../scss/base/_links.scss */
a.text-link.text-primary-base, button.text-link.text-primary-base {
  color: #0636BE;
}
/* line 33, ../scss/base/_links.scss */
a.text-link.text-primary-base:hover, button.text-link.text-primary-base:hover {
  color: #0636BE;
}
/* line 37, ../scss/base/_links.scss */
a.text-link.text-secondary-base, button.text-link.text-secondary-base {
  color: #5046C1;
}
/* line 39, ../scss/base/_links.scss */
a.text-link.text-secondary-base:hover, button.text-link.text-secondary-base:hover {
  color: #5046C1;
}

/*
aside {
   a {
      @extend %botones;   
   }
}*/
/* line 1, ../scss/base/_icons.scss */
.icon-contact:before {
  content: "\e900";
}

/* line 4, ../scss/base/_icons.scss */
.icon-home:before {
  content: "\e901";
}

/* line 7, ../scss/base/_icons.scss */
.icon-information:before {
  content: "\e902";
}

/* line 10, ../scss/base/_icons.scss */
.icon-services:before {
  content: "\e903";
}

/* line 13, ../scss/base/_icons.scss */
.icon-facebook:before {
  content: "\e904";
}

/* line 16, ../scss/base/_icons.scss */
.icon-linkedin:before {
  content: "\e905";
}

/* line 1, ../scss/base/_tabs.scss */
.nav-tabs {
  background: #f4f4f4;
  border: 0;
  display: flex;
  justify-content: space-between;
}
/* line 6, ../scss/base/_tabs.scss */
.nav-tabs li {
  flex: auto;
  flex-basis: 33%;
  float: none;
  text-align: center;
}
/* line 12, ../scss/base/_tabs.scss */
.nav-tabs li.active a {
  background: #0636BE;
  border: 0;
  border-radius: 0;
  color: #ffffff;
}
/* line 17, ../scss/base/_tabs.scss */
.nav-tabs li.active a:hover {
  background: #0636BE;
  border: 0;
  color: #ffffff;
}
/* line 24, ../scss/base/_tabs.scss */
.nav-tabs li a {
  height: 100%;
}
/* line 26, ../scss/base/_tabs.scss */
.nav-tabs li a:hover {
  border-color: transparent;
}

/* line 1, ../scss/base/_slide.scss */
.slick {
  position: relative;
}

/* line 5, ../scss/base/_slide.scss */
.slick-arrow.slick-next, .slick-arrow.slick-prev {
  background: transparent;
  border: 0;
  font-size: 0;
  height: 52px;
  line-height: 52px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 52px;
  z-index: 1;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 20, ../scss/base/_slide.scss */
.slick-arrow.slick-next:before, .slick-arrow.slick-prev:before {
  content: "\e906";
  color: white;
  font-family: "iconFont";
  font-size: 3rem;
}
/* line 26, ../scss/base/_slide.scss */
.slick-arrow.slick-next:hover, .slick-arrow.slick-next:focus, .slick-arrow.slick-prev:hover, .slick-arrow.slick-prev:focus {
  -webkit-transform: translateY(-50%) scale(1.3);
  -moz-transform: translateY(-50%) scale(1.3);
  -o-transform: translateY(-50%) scale(1.3);
  -ms-transform: translateY(-50%) scale(1.3);
  transform: translateY(-50%) scale(1.3);
}
/* line 31, ../scss/base/_slide.scss */
.slick-arrow.slick-prev {
  left: 0px;
}
/* line 34, ../scss/base/_slide.scss */
.slick-arrow.slick-next {
  right: 0px;
}
/* line 36, ../scss/base/_slide.scss */
.slick-arrow.slick-next:before {
  content: "\e907";
}
/* line 40, ../scss/base/_slide.scss */
.slick-arrow:hover, .slick-arrow:focus {
  outline: none;
  text-decoration: none;
}

/* line 47, ../scss/base/_slide.scss */
.slick-dots {
  bottom: -40px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
/* line 55, ../scss/base/_slide.scss */
.slick-dots li {
  display: inline-block;
  list-style: none;
}
/* line 58, ../scss/base/_slide.scss */
.slick-dots li:before {
  display: none;
}
/* line 61, ../scss/base/_slide.scss */
.slick-dots li button {
  background: #d8d8d8;
  border: 0;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  opacity: 1;
  padding: 0;
  text-indent: -9999px;
  width: 10px;
  z-index: 2;
}
/* line 73, ../scss/base/_slide.scss */
.slick-dots li button:focus {
  outline: none;
}
/* line 78, ../scss/base/_slide.scss */
.slick-dots li.slick-active button {
  background: #5046C1;
  border: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

/* line 88, ../scss/base/_slide.scss */
.slide__content img {
  height: auto;
  width: 100%;
}

@media (max-width: 959px) {
  /* line 96, ../scss/base/_slide.scss */
  .slick-arrow.slick-next {
    right: 0;
  }
  /* line 99, ../scss/base/_slide.scss */
  .slick-arrow.slick-prev {
    left: 0;
  }
}
@media (max-width: 767px) {
  /* line 107, ../scss/base/_slide.scss */
  .slick-arrow.slick-next, .slick-arrow.slick-prev {
    display: none !important;
  }
}
/* line 3, ../scss/base/_modal.scss */
.modal .modal-dialog {
  display: flex;
  transform: translateY(0%);
  top: 30%;
}
/* line 8, ../scss/base/_modal.scss */
.modal .modal-content {
  background: url("../images/home/fondomovil.png") no-repeat 0 0;
  background-size: cover;
  box-shadow: 1px 7px 25px black;
  border: none;
}
/* line 13, ../scss/base/_modal.scss */
.modal .modal-content .modal-header {
  background: white;
  padding: 0;
}
/* line 16, ../scss/base/_modal.scss */
.modal .modal-content .modal-header P {
  color: #0636BE;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 10px 0 10px 50px;
  text-align: center;
}
/* line 23, ../scss/base/_modal.scss */
.modal .modal-content .modal-header .close {
  color: #0636BE;
  cursor: pointer;
  font-size: 4.5rem;
  position: absolute;
  right: 20px;
}
/* line 31, ../scss/base/_modal.scss */
.modal .modal-content video {
  display: block;
  margin: 0 auto;
}

@media (min-width: 540px) {
  /* line 40, ../scss/base/_modal.scss */
  .modal .modal-dialog {
    top: 200px;
  }
}
@media (min-width: 768px) {
  /* line 50, ../scss/base/_modal.scss */
  .modal .modal-dialog {
    display: flex;
    margin: 0 auto;
    min-width: 74rem;
    min-height: 36rem;
    transform: translateY(0%);
    top: 200px;
  }
  /* line 59, ../scss/base/_modal.scss */
  .modal .modal-content p {
    font-size: 30px;
  }
  /* line 62, ../scss/base/_modal.scss */
  .modal .modal-content video {
    min-width: 640px;
    min-height: 360px;
  }
}
@media (min-width: 960px) {
  /* line 74, ../scss/base/_modal.scss */
  .modal .modal-dialog {
    min-width: 88rem;
  }
}
@media (min-width: 1280px) {
  /* line 83, ../scss/base/_modal.scss */
  .modal .modal-content video {
    min-width: 854px;
    min-height: 480px;
  }
}
@media (min-width: 1440px) {
  /* line 96, ../scss/base/_modal.scss */
  .modal .modal-dialog {
    display: flex;
    margin: 0 auto;
    min-width: 138rem;
    min-height: 72rem;
    transform: translateY(0%);
    top: 30px;
  }
  /* line 104, ../scss/base/_modal.scss */
  .modal .modal-content {
    background: url("../images/home/fondomovil.png") no-repeat 0 0;
    background-size: cover;
    box-shadow: 1px 7px 25px black;
    border: none;
    min-width: 130rem;
    min-height: 72rem;
  }
  /* line 111, ../scss/base/_modal.scss */
  .modal .modal-content .modal-header {
    background: white;
    padding: 0;
  }
  /* line 114, ../scss/base/_modal.scss */
  .modal .modal-content .modal-header P {
    color: #0636BE;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0 10px 50px;
    text-align: center;
  }
  /* line 122, ../scss/base/_modal.scss */
  .modal .modal-content .modal-header .close {
    color: #0636BE;
    cursor: pointer;
    font-size: 4.5rem;
    margin: 0;
    position: absolute;
    right: 20px;
  }
  /* line 131, ../scss/base/_modal.scss */
  .modal .modal-content video {
    display: block;
    margin: 0 auto;
    min-width: 128rem;
    min-height: 72rem;
  }
}
/* line 1, ../scss/components/_header.scss */
header {
  background: #ffffff;
  min-height: 112px;
  padding-top: 10px;
  width: 100%;
  /*position: fixed;*/
}
/* line 6, ../scss/components/_header.scss */
header .container {
  position: relative;
}

/* line 12, ../scss/components/_header.scss */
.button__menu {
  background: transparent;
  box-shadow: none;
  border: none;
  height: 4.0rem;
  position: relative;
  width: 4.0rem;
}
/* line 21, ../scss/components/_header.scss */
.button__menu.menu-open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 13px;
}
/* line 25, ../scss/components/_header.scss */
.button__menu.menu-open span:nth-child(2) {
  opacity: 0;
}
/* line 28, ../scss/components/_header.scss */
.button__menu.menu-open span:nth-child(3) {
  transform: rotate(45deg);
  top: 14px;
}
/* line 34, ../scss/components/_header.scss */
.button__menu span {
  background-color: #0636BE;
  border-radius: 10px;
  display: block;
  height: 10px;
  left: 0;
  margin: 0 auto 2px;
  transition: all 250ms;
  position: absolute;
  top: 0;
  width: 50px;
}
/* line 45, ../scss/components/_header.scss */
.button__menu span:nth-child(2) {
  opacity: 1;
  top: 15px;
}
/* line 49, ../scss/components/_header.scss */
.button__menu span:nth-child(3) {
  top: 30px;
}

/* line 55, ../scss/components/_header.scss */
.cont-menu {
  background: #f6f7fB;
  box-shadow: 5px 5px 10px black;
  display: flex;
  height: 38.0rem;
  justify-content: space-between;
  margin-top: 12px;
  opacity: 0;
  padding: 0px 30px;
  position: absolute;
  right: 0;
  top: 9rem;
  visibility: hidden;
  width: auto;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 71, ../scss/components/_header.scss */
.cont-menu.open {
  border-radius: 0 0 0 10px;
  opacity: 1;
  visibility: visible;
}
/* line 77, ../scss/components/_header.scss */
.cont-menu .navbar-list a {
  font-size: 30px;
}

/* line 83, ../scss/components/_header.scss */
.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* line 88, ../scss/components/_header.scss */
.navbar-list li {
  margin-top: 40px;
}
/* line 91, ../scss/components/_header.scss */
.navbar-list span {
  margin-right: 22px;
}

@media (min-width: 325px) {
  /*header {
      .container {
          .button__menu {
          
          }
      }
  }*/
}
@media (min-width: 418px) {
  /* line 109, ../scss/components/_header.scss */
  header .container .button__menu {
    right: 30px;
  }
}
@media (min-width: 540px) {
  /* line 119, ../scss/components/_header.scss */
  header .container .button__menu {
    right: 30px;
  }
}
@media (min-width: 960px) {
  /* line 129, ../scss/components/_header.scss */
  header .container {
    min-width: 0;
    padding: 0 25px 0 25px;
  }
  /* line 130, ../scss/components/_header.scss */
  header .container img {
    border: none;
    margin: 0 0 0 25px;
  }
  /* line 136, ../scss/components/_header.scss */
  header .container button {
    display: none;
  }
  /* line 139, ../scss/components/_header.scss */
  header .container .cont-menu {
    background: none;
    box-shadow: none;
    height: auto;
    margin-top: 0;
    opacity: 1;
    padding: 0 0 0 0;
    position: static;
    visibility: visible;
  }
  /* line 148, ../scss/components/_header.scss */
  header .container .cont-menu .navbar-list {
    display: flex;
  }
  /* line 150, ../scss/components/_header.scss */
  header .container .cont-menu .navbar-list a {
    font-size: 28px;
  }
  /* line 153, ../scss/components/_header.scss */
  header .container .cont-menu .navbar-list li {
    margin: 0;
    padding: 0 25px 0 0;
  }
  /* line 157, ../scss/components/_header.scss */
  header .container .cont-menu .navbar-list span {
    display: none;
  }
}
@media (min-width: 1280px) {
  /* line 169, ../scss/components/_header.scss */
  header .container {
    padding: 0;
  }
  /* line 173, ../scss/components/_header.scss */
  header .container .cont-menu .navbar-list li {
    padding: 0 0 0 70px;
  }
}
@media (min-width: 1440px) {
  /* line 185, ../scss/components/_header.scss */
  header .container {
    min-width: 1440px;
    padding: 0 65px 0 0;
  }
  /* line 186, ../scss/components/_header.scss */
  header .container img {
    border: none;
    margin: 0 0 0 94px;
  }
  /* line 192, ../scss/components/_header.scss */
  header .container .navbar-list {
    display: flex;
  }
  /* line 194, ../scss/components/_header.scss */
  header .container .navbar-list li {
    margin: 0;
    padding: 0 35px 0 35px;
  }
}
/* line 1, ../scss/components/_footer.scss */
.footer {
  background-color: #0636BE;
  display: flex;
  flex-direction: column;
  min-height: 79.3rem;
  min-width: 41.8rem;
  text-align: center;
}
/* line 8, ../scss/components/_footer.scss */
.footer__top {
  margin: 77px 0 91px 0;
}
/* line 11, ../scss/components/_footer.scss */
.footer__middle {
  color: #8CC1F5;
  font-size: 2rem;
  font-weight: 900;
  margin: 0 0 91px 0;
}
/* line 17, ../scss/components/_footer.scss */
.footer__bottom {
  color: #8CC1F5;
  font-size: 2.5rem;
  font-weight: 900;
}
/* line 21, ../scss/components/_footer.scss */
.footer__bottom .footer__redes {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
/* line 27, ../scss/components/_footer.scss */
.footer__bottom li {
  min-width: 5.4rem;
  min-height: 5.4rem;
}
/* line 30, ../scss/components/_footer.scss */
.footer__bottom li a {
  font-size: 4.5rem;
}
/* line 34, ../scss/components/_footer.scss */
.footer__bottom span {
  color: #ffffff;
  margin: 14px;
  width: 5.4rem;
  height: 5.4rem;
}

@media (min-width: 1440px) {
  /* line 45, ../scss/components/_footer.scss */
  .footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 381px;
  }
  /* line 51, ../scss/components/_footer.scss */
  .footer__top {
    margin: 0;
  }
  /* line 53, ../scss/components/_footer.scss */
  .footer__top img {
    max-width: 20.8rem;
    max-height: 9.9rem;
    width: 100%;
  }
  /* line 59, ../scss/components/_footer.scss */
  .footer__middle {
    margin: 0 40px 0 0;
  }
}
/* line 1, ../scss/pages/_home.scss */
.banner {
  align-items: center;
  background: url("../images/home/fondomovil.png") no-repeat 0 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 769px;
  min-width: 418px;
  position: relative;
  text-align: center;
}
/* line 11, ../scss/pages/_home.scss */
.banner h1 {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 149px;
}
/* line 12, ../scss/pages/_home.scss */
.banner h1 span {
  display: block;
  font-size: 3.0rem;
  font-weight: bold;
  line-height: 4.6rem;
}
/* line 23, ../scss/pages/_home.scss */
.banner p {
  color: #ffffff;
}
/* line 26, ../scss/pages/_home.scss */
.banner video {
  margin: 0 auto;
}
/* line 29, ../scss/pages/_home.scss */
.banner button {
  background: url("../images/icons/play.png") no-repeat center;
  background-size: contain;
  border-radius: 20px;
  border: 3px solid #ffffff;
  height: 9.5rem;
  margin-top: 90px;
  width: 20.5rem;
  /*205px*/
}

@media (min-width: 768px) {
  /* line 42, ../scss/pages/_home.scss */
  .banner h1 {
    font-size: 5rem;
  }
  /* line 44, ../scss/pages/_home.scss */
  .banner h1 span {
    font-size: 3.5rem;
  }
  /* line 48, ../scss/pages/_home.scss */
  .banner p {
    font-size: 2rem;
  }
}
@media (min-width: 960px) {
  /* line 56, ../scss/pages/_home.scss */
  .banner h1 {
    font-size: 5.5rem;
  }
  /* line 58, ../scss/pages/_home.scss */
  .banner h1 span {
    font-size: 3.5rem;
  }
  /* line 62, ../scss/pages/_home.scss */
  .banner p {
    font-size: 2.1rem;
  }
}
@media (min-width: 1440px) {
  /* line 69, ../scss/pages/_home.scss */
  .banner {
    background: url("../images/home/backgroundcsddHeaderfinal.jpg") no-repeat 0 0;
    background-size: cover;
    display: flex;
    flex-direction: row;
  }
  /* line 74, ../scss/pages/_home.scss */
  .banner .banner__text {
    margin: 0 100px 0 100px;
    padding: 0 100px 0 31px;
    text-align: left;
  }
  /* line 78, ../scss/pages/_home.scss */
  .banner .banner__text h1 {
    font-size: 7.0rem;
    line-height: 10.0rem;
    margin: auto;
  }
  /* line 82, ../scss/pages/_home.scss */
  .banner .banner__text h1 span {
    font-size: 5.0rem;
  }
  /* line 86, ../scss/pages/_home.scss */
  .banner .banner__text p {
    font-size: 2.7rem;
  }
  /* line 90, ../scss/pages/_home.scss */
  .banner .banner__video--play {
    margin: 10px 0 0 100px;
  }
}
/* line 1, ../scss/pages/_services.scss */
.services-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 418px;
  text-align: center;
}
/* line 8, ../scss/pages/_services.scss */
.services-section__title h2 {
  height: auto;
  margin: 50px 0 50px 0;
  min-width: 288px;
  text-align: center;
}

/* line 17, ../scss/pages/_services.scss */
.services {
  padding-top: 20px;
}

/* line 21, ../scss/pages/_services.scss */
.service {
  max-width: 429px;
  padding: 0 45px 0 45px;
  width: 100%;
}
/* line 25, ../scss/pages/_services.scss */
.service img {
  height: auto;
  max-width: 100%;
  padding: 19px 0 19px 0;
}

@media (min-width: 540px) {
  /* line 39, ../scss/pages/_services.scss */
  .service {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  /* line 45, ../scss/pages/_services.scss */
  .container {
    padding: 0 40px;
  }
  /* line 47, ../scss/pages/_services.scss */
  .container .service {
    max-width: 629px;
    padding: 0;
  }
}
@media (min-width: 960px) {
  /* line 55, ../scss/pages/_services.scss */
  .services {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 829px;
  }
}
@media (min-width: 1280px) {
  /* line 64, ../scss/pages/_services.scss */
  .container {
    padding: 60px 40px;
  }
  /* line 66, ../scss/pages/_services.scss */
  .container .services {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
  }
  /* line 70, ../scss/pages/_services.scss */
  .container .services .service {
    max-width: 410px;
  }
}
@media (min-width: 1440px) {
  /* line 79, ../scss/pages/_services.scss */
  .services-section .container {
    max-width: 1350px;
    padding: 0;
  }
  /* line 82, ../scss/pages/_services.scss */
  .services-section .container h2 {
    font-size: 6.5rem;
  }

  /* line 87, ../scss/pages/_services.scss */
  .services {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  /* line 93, ../scss/pages/_services.scss */
  .services .service {
    max-width: 33.3%;
    padding: 0 15px;
  }
  /* line 96, ../scss/pages/_services.scss */
  .services .service img {
    min-width: 429px;
    width: 100%;
  }
  /* line 100, ../scss/pages/_services.scss */
  .services .service h3 {
    font-size: 3.8rem;
  }
  /* line 103, ../scss/pages/_services.scss */
  .services .service p {
    font-size: 2.5rem;
  }
}
/* line 1, ../scss/pages/_information.scss */
.information-section {
  background: url("../images/home/imgBackgroundmobilesection.jpg") no-repeat 0 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 1300px;
  min-width: 418px;
}

/* line 10, ../scss/pages/_information.scss */
.information {
  margin: 50px 50px 0 50px;
}
/* line 13, ../scss/pages/_information.scss */
.information p {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 5.0rem;
}
/* line 19, ../scss/pages/_information.scss */
.information .information__paragraph-one {
  margin-bottom: 5.5rem;
}
/* line 22, ../scss/pages/_information.scss */
.information .information__paragraph {
  margin-top: 0;
  margin-bottom: 65px;
}

/* line 29, ../scss/pages/_information.scss */
.information-section aside {
  background: #5046C1;
  border-radius: 0 0 0 50px;
  box-sizing: border-box;
  /*padding-left: 15px;*/
  margin: 0 auto;
  min-height: 68.5rem;
  text-align: center;
  width: 37.4rem;
}
/* line 38, ../scss/pages/_information.scss */
.information-section aside img {
  border-radius: 20px;
  margin: 17px 0 30px 0;
}
/* line 43, ../scss/pages/_information.scss */
.information-section aside p {
  color: #ffffff;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 2.9rem;
  margin-bottom: 2.9rem;
}

@media (min-width: 540px) {
  /* line 54, ../scss/pages/_information.scss */
  .information {
    margin: 50px 80px 0 80px;
  }
}
@media (min-width: 768px) {
  /* line 60, ../scss/pages/_information.scss */
  .information-section {
    min-height: 1150px;
  }
  /* line 62, ../scss/pages/_information.scss */
  .information-section .information {
    margin: 50px 110px 0 110px;
  }
}
@media (min-width: 960px) {
  /* line 69, ../scss/pages/_information.scss */
  .information-section {
    flex-direction: row;
    min-height: 100px;
  }
  /* line 72, ../scss/pages/_information.scss */
  .information-section .information {
    margin: 130px 50px 0 50px;
  }
  /* line 76, ../scss/pages/_information.scss */
  .information-section aside img {
    margin: 17px 17px 17px 17px;
  }
  /* line 79, ../scss/pages/_information.scss */
  .information-section aside h2 {
    line-height: 4.5rem;
  }
}
@media (min-width: 1440px) {
  /* line 87, ../scss/pages/_information.scss */
  .information-section {
    background: url("../images/home/backgroundsegundasección.jpg") no-repeat 0 0;
    background-size: cover;
    display: flex;
    flex-direction: row;
    min-height: 700px;
    align-items: flex-start;
  }
  /* line 94, ../scss/pages/_information.scss */
  .information-section .information {
    margin: 150px 50px 0 150px;
    width: 700px;
  }
  /* line 97, ../scss/pages/_information.scss */
  .information-section .information h2 {
    font-size: 6.5rem;
  }
  /* line 100, ../scss/pages/_information.scss */
  .information-section .information p {
    font-size: 3.5rem;
    line-height: 4.2rem;
    max-width: 100rem;
  }
  /* line 106, ../scss/pages/_information.scss */
  .information-section aside {
    margin: 0 0 0 180px;
    width: 505px;
    height: 876px;
  }
  /* line 110, ../scss/pages/_information.scss */
  .information-section aside img {
    height: auto;
    margin: 17px 0 50px 0;
    max-width: 100%;
    min-width: 420px;
  }
  /* line 116, ../scss/pages/_information.scss */
  .information-section aside h2 {
    line-height: 50px;
  }
  /* line 119, ../scss/pages/_information.scss */
  .information-section aside .btn {
    width: 364px;
    height: 105px;
    font-size: 35px;
    padding: 15px 0;
  }
}
