%titles {
    color: color( primary, base );
    font-size: 4.0rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 0;
}

%subtitle {
    color: color( primary, base );
    font-size: 2.9rem;
    font-weight: bold;
    margin-bottom: 0;
}

%description {
    color: color( grayscale, gray-8 );
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 0;
    padding-bottom: 70px;
}

%services { 
    color: red;
    font-size: 3.0rem;
    line-height: 3.4rem;
}

%titlesInformation {
    color: color( grayscale, white );
    font-size: 4.0rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 0;
}

@include mq-min(md){
    %titles{
        font-size: 6.0rem;
        line-height: 5.6rem;
    }
}
