// ==========================================================================
// External Source Definitions 
// ==========================================================================

$font-size         : 1.6rem;
$font-primary      : 'Montserrat', sans-serif;
/*$font-secondary    : 'HWT';*/
$font-icon         : 'iconFont';

// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base: #0636BE,
      light: #D3E9FF,
      dark:#8CC1F5
   ),
   secondary: (
      base: #5046C1
   ),
   borders: (
      color-1: #105EBA
   ),
   grayscale: (
      white:  #ffffff,
      gray-1: #f4f4f4,
      gray-2: #f6f7fB,
      gray-3: #cccccc,
      gray-4: #999999,
      gray-5: #303030,
      gray-6: #969696,
      gray-7: #4a4a4a,
      gray-8: #4B4B4B,
      base:   #0F0A09,
      black:  #000000
   )
);

// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
   xsmall : 1.5rem, // 15px
   tiny   : 1.7rem,  // 17px
   small  : 2rem, // 20px
   base   : 2.9rem,  // 29px
   thumb  : 4.0rem, // 40px
   half   : 2.9rem, // 29px
   medium : 3rem, // 30px
   large  : 4rem, // 40px
   xlarge : 4.5rem,  // 45px
   /*huge   : 3.1rem,  // 49px*/
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   x   : 325px,
   s   : 550px,
   xs  : 700px,
   sm  : 540px,
   md  : 768px,
   lg  : 960px,
   /* l  : 1360px,
   ml  : 1440px,
   xx   : 1500px,*/
   xl  : 1200px,
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
