.banner {
    align-items: center;
    background: url("../images/home/fondomovil.png") no-repeat 0 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    min-height: 769px;
    min-width: 418px;
    position: relative;
    text-align: center;
    h1 {
        span {
            display: block;
            font-size: 3.0rem;
            font-weight: bold;
            line-height: 4.6rem;
        }
        color: color( grayscale, white );
        font-size: 4.5rem;
        font-weight: bold;
        margin-top: 149px;
    }
    p {
        color: color( grayscale, white );
    }
    video {
        margin: 0 auto;
    }
    button {
        background: url('../images/icons/play.png') no-repeat center;
        background-size: contain;
        border-radius: 20px;
        border: 3px solid color( grayscale, white );
        height: 9.5rem;
        margin-top: 90px;
        width: 20.5rem; /*205px*/
    }
}
@include mq-min(md){
    body{
        background: red;
    }
}
/*@include mq-min(lg){
    body{
        background: purple;
    }
}*/
@include mq-min(xl){
    .banner {
        background: url("../images/home/backgroundcsddHeaderfinal.jpg") no-repeat 0 0;
        background-size: cover;
        display: flex;
        flex-direction: row;
        .banner__text {
            margin: 0 100px 0 100px;
            padding: 0 100px 0 31px;
            text-align: left;
            h1 {
                margin: auto;
            }
            p {
                margin-top: 15px;
            }
        }
        .banner__video--play {
            margin: 60px 0 0 100px;
        }
    }
}