.services-section {
    background-color: color( grayscale, white );
    display: flex;
    flex-direction: column;
    min-width: 418px;
    text-align: center;
    &__title {
        h2{
            height: auto;
            margin: 50px 0 50px 0;
            min-width: 288px;
            text-align: center;
        }
    }
}

.services {
    padding-top: 20px;
}

.service {
    max-width: 429px;
    padding: 0 45px 0 45px;
    width: 100%;
    img {
        height: auto;
        max-width: 100%;
        padding: 19px 0 19px 0;

    }
    @extend %subtitle;
    p {
        @extend %description;
    }

}

@include mq-min(sm){
    .service {
        margin: 0 auto;
    }
}

@include mq-min(md){
    .container {
        padding: 0 40px;
        .service {
            max-width: 629px;
            padding: 0;
        }
    }
}

@include mq-min(lg){
    .services {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 829px;
    }
}

@include mq-min(xx){
    .container{
        padding: 60px 40px;
        .services{
            justify-content: space-between;
            margin: 0 auto;
            max-width: 1100px;
            .service{
                max-width: 410px;
            }
        }
    }
}

@include mq-min(xl){
    .services-section {
        .container {
            max-width: 1350px;
            padding: 0;
            h2 {
                font-size: 6.5rem;
            }
        }
    }
    .services {
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        .service {
            max-width: 33.3%;
            padding: 0 15px;
            img {
                min-width: 429px;
                width: 100%;
            }
            h3 {
                font-size: 3.8rem;
            }
            p {
                font-size: 2.5rem;
            }
        }
    }
}