header {
    background: color( grayscale, white );
    min-height: 112px;
    width: 100%;
    .container{
        position: relative;
    }
    /*position: fixed;*/
}

.button__menu {
    border: none;
    position: relative;
    /*width: 4.0rem;
    height: 4.0rem;*/
    transition: all 250ms;
    span {
        background-color: color( primary, base );
        display: block;
        height: 10px;
        margin: 0 auto 2px;
        transition: all 250ms;
        width: 25px;
        border-radius: 10px;
        width: 50px;
        &:nth-child(1){
            height: 10px;
            margin-bottom: 7px;
            top: 0;
            width: 50px;
        }
        &:first-child(2){
            height: 10px;
            top: 9px;
            width: 50px;
        }
        &:last-child{
            height: 10px;
            margin-top: 7px;
            top: 18px;
            width: 50px;
        }
    }
}

.cont-menu {
    background: color( grayscale, gray-2 );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1.0);
    display: flex;
    height: 22.4rem;
    justify-content: space-between;
    opacity: 0;
    padding: 0px 20px;
    position: absolute;
    right: 0;
    top: 9rem;
    visibility: hidden;
    width: auto;
    z-index: 1;
    @include prefix(transition, all 0.5s ease-in-out, webkit moz o ms);
    &.open{
        opacity: 1;
        visibility: visible;
    }
 }

 .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    li {
        margin-top: 23px;
        margin-bottom: 23px;
    }
    span {
        margin-right: 22px;
    }
 }