@include placeholder("input", color( primary, dark ), 900, 1.5rem);
@include placeholder("textarea", color( primary, dark ), 900, 1.5rem);

.contact {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    min-height: 50px;
    text-align: center;
    .container {
        width: auto;
        padding: 0;
        .main__title {
            margin-bottom: 40px;
        }
        form {
            .form-group {
                color: #8CC1F5;
                margin-bottom: 0;
            }
        }
        button {
            display: inline-block;
            margin-top: 40px;
        }
    }
}

input {
    background: color( primary, light );
    border: none;
    min-height: 6.3rem;
    min-width: 28.7rem;
    padding: 20px;
    width: 100%;
}

textarea {
    background: color( primary, light );
    border: none;
    min-height: 13.7rem;
    padding: 20px;
    width: 100%;
    p {
        display: none
    }
}

@include mq-min(smm) {
    .contact {
        display: flex;
        flex-direction: column;
        margin: 70px 0;
        min-height: 50px;
        min-width: 418px;
        text-align: center;
        .container {
            width: auto;
            padding: 0;
            .main__title {
                margin-bottom: 40px;
            }
            form {
                padding: 0 65px;
                .form-group {
                    color: #8CC1F5;
                    margin-bottom: 0;
                }
            }
            button {
                display: inline-block;
                margin-top: 40px;
            }
        }
    }
    
    input {
        background: color( primary, light );
        border: none;
        min-height: 6.3rem;
        min-width: 28.7rem;
        padding: 20px;
        width: 100%;
    }
    
    textarea {
        background: color( primary, light );
        border: none;
        min-height: 13.7rem;
        padding: 20px;
        width: 100%;
        p {
            display: none
        }
    }
}

@include mq-min(md) {
    .contact{
            form{
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                .contact__col {
                    display: flex;
                    min-height: 107px;
                    input {
                        font-size: 2.5rem;
                    }
                }
                .form-group{
                    margin-right: 3rem;
                    width: 47.5%;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    input{
                        min-width: inherit;
                        width: 100%;
                    }
                    &.message-field{
                        margin-right: 0;
                        width: 100%;
                        textarea {
                            font-size: 2.5rem;
                            margin: 29px 0 98px 0;
                            min-height: 35.0rem;
                        }
                    }
                }
                .form__button {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button {
                        font-size: 35px;
                        height: 105px;
                        margin: 0 0 19px 0;
                        width: 364px;
                    }
                }
            }
       
   }
}

@include mq-min(lg){
    .contact{
            form{
                .form-group{
                    margin-right: 4rem;
                    width: 47.5%;
                }
            }
    }
}

@include mq-min(xl){
    .contact{
        margin: 100px 0;
            .main__title {
                margin: 25px 0 77px 0;
            }
            form{
                align-items: flex-start;
                display: flex;
                flex-wrap: wrap;
                .form-group{
                    margin-right: 4rem;
                    width: 48%;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    input{
                        min-width: inherit;
                        width: 100%;
                    }
                    &.message-field{
                        margin-right: 0;
                        width: 100%;
                        textarea {
                            font-size: 2.5rem;
                            margin: 29px 0 98px 0;
                            min-height: 35.0rem;
                        }
                    }
                }
                .form__button {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    button {
                        font-size: 35px;
                        height: 105px;
                        margin: 0 0 19px 0;
                        width: 364px;
                    }
                }
            }
    }
}
